
      <h2>Таны аккаунт</h2>
      
      <p>
        Таны И-Мэйл хаягийг баталгаажуулахын тулд заавар бүхий имэйл <%= @user.email %>-рүү илгээлээ. 
		Доторх линкийг дарж аккаунтаа идэвхжүүлнэ үү.
      </p>
	  <p>
          Хэрэв таны И-Мэйл хаяг буруу бол дахин бүртгүүлнэ үү. <%= link_to "Бүртгүүлэх", signup_path %> 	
	  </p>
	<p>
          Хэрэв танд И-Мэйл ирэхгүй байвал Spam эсвэл Junk хэсэгт шалгана уу?
	</p>

  