    <% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
        <fieldset>
     <legend>Нууц үг шинэчлэх хүсэлт</legend>
         <p>Бидэнд бүртгүүлсэн И-Мэйл хаягаа оруулна уу.Танд нууц үгээ солих хаяг очих болно.</p>
            <p>
                <label for="user_email" >И-Мэйл хаяг:</label><br/>
                <%= form.text_field :email, :size => 35, :class => 'text' %>
            </p>
            <%= submit_tag 'Илгээх' %>
        </fieldset>
    <% end %>