									<table cellpadding=0 cellspacing=0> 
										<tr>
											<td  style="width:521px; height:278px">
												<br style="line-height:17px">
												<img src="/images/t3_2.jpg" alt="" style="margin-left:26px"><br>
											  <div style="margin-left:32px; margin-right:39px">
<% form_for(@board) do |f| %>
  <%= f.error_messages %>
<table>
	<tr>
		<td>
			<b>Текст:</b> 
		</td>
		<td>
			<%= f.text_field :comment %>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<br style="line-height:21px">
			<div style="margin-left:15px">
				<%= f.submit 'Үүсгэх' %>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<br style="line-height:21px">
			<div style="margin-left:15px">
				<%= link_to "Буцах",boards_path %>
			</div>
		</td>
	</tr>
</table>
<% end %>
											  </div>
											</td>
										  </tr>
										</table>
