<% if @user %>
    <% form_for :user, :url => {:action => "reset_password"} do |form| %>
        <fieldset>
     <legend>Нууц үг шинэчлэх</legend>
     
            <p>
                <label for="user_password" >Нууц үг</label><br/>
                <%= form.password_field :password, :size => 45, :class => 'text' %>
      </p>
      <p>
                <label for="user_password_confirmation" >Нууц үг дахин оруулах</label><br/>
                <%= form.password_field :password_confirmation, :size => 45, :class => 'text' %>
            </p>
            <%= submit_tag "Нууц үг шинэчлэх" %>
        </fieldset>
    <% end %>
<% else %>
No code found
<% end %>