<h2>Бүртгүүлэх</h2>

Уралдаанд зөвхөн бүртгэлтэй гишүүд өөрийн nick-р оролцоно. Хүн бүр 2 нисэгч сонгох боломжтой. Сонголтыг байршил тогтоох (ПП) эхлэхээс өмнө хийнэ.
Сонгосон 2 хүн нь ямар амжилт үзүүлснээс хамааран оноо авна.
<br>
<br>
<h2>Оноо авах</h2>
1.    Байршил тогтоохын оноо<br>
Байршил тогтоох дээр тухайн нисэгч эхний 10т үлдвэл 10-1 хүртэл оноо авна.<br>
1.     10 оноо<br>
2.     9 оноо<br>
3.     8 оноо<br>
4.     7 оноо<br>
5.     6 оноо<br>
6.     5 оноо<br>
7.     4 оноо<br>
8.     3 оноо<br>
9.     2 оноо<br>
10.     1 оноо<br>
<br>
<h2>2.    Уралдааны оноо</h2>
ГП-д сонгосон нисэгчийн авсан оноотой ижил 25-1 хүртэлх оноог авна.<br>
1.         25 оноо<br>
2.         18 оноо<br>
3.         15 оноо<br>
4.         12 оноо<br>
5.         10 оноо<br>
6.         8 оноо<br>
7.          6 оноо<br>
8.          4 оноо<br>
9.          2 оноо<br>
10.          1 оноо<br>
<br>
<h2>3.    Шагнал оноо</h2>
Гараанаас гарахдаа ахиулж чадсан байр бүрийг +1 оноогоор үржүүлж олгоно. Энэ нь сонгосон нисэгч эхний 10т ороогүй тохиолдол бас хүчинтэй. Гэхдээ уралдааныг заавал дуусгасан байна.
Жишээ нь: Таны сонгосон нисэгч 6-р байрнаас гараад 2-т орж уралдаанаа дуусгасан гэж үзвэл (6-2)*1=4 оноо авна.
<br>
<br>
<h2>4.    Fastest lap</h2>
Сонгосон нисэгч тухайн уралдааны хамгийн хурдан тойрог хийвэл +3 оноо.
<br>
<br>
<h2>5.    Бонус гараа.</h2>
Тааварт оролцогчид маань зарим үед цагаасаа өмнө таавар оруулж амжихгүй байх эсвэл улирлын дундаас уралдаанд оролцож эхлэх үед бусад оролцогчид хэт тасарсан бол сонирхол нь буурах магадлал ихтэй тиймээс энэхүү боломжийг олгож байна.
Оролцогч 3 гарааны тааварт оролцоогүй бол 1 удаагийн тааварт БОНУС ГАРААны эрхээ авах боломжтой. Улирлын туршид хамгийн дээд тал нь 3 удаа бонус гарааг ашиглаж болно. Энэ нь нийт 9 ба түүнээс дээш гараанд таавар хийгээгүй оролцогч байна.
Бонус гараанд /байршил тогтоох болон уралдаанд/ авсан оноог 2-р үржүүлж олгоно.
<br>
<br>
<h2>Байр эзлүүлэх</h2>
Оролцогчид оноо тэнцвэл Хамгийн их түрүүлсэн нисэгч таасан нь, хэрэв түрүү тэнцвэл хамгийн их 2-т орсон нь, 2-т орсон нь тэнцвэл хамгийн их 3-рт орсон нь гэх мэтээр шалгаруулах саналтай байна.<br>
Баг болох<br>
Ф1-т нэг багт 2 нисэгчтэй байдаг шиг 2 хүн нийлж нэг баг болж болно. Баг болох асуудлыг хүмүүс бие биенээ сайн мэдэх хүртэл буюу Испаний ГП эхлэх хүртэл нээлттэй орхилоо. Испаний ГП элэхээс өмнө багийн нэр, хамтран оролцогч 2 фантазичний нэрээ өгнө үү.
<br>
<br>
<h2>Шагнал</h2>
Улирлын эцэст түрүүлсэн 3 нисэгч (подиум шагнал), Түрүүлсэн багийн 2 (Зохион бүтээгчийн цом) шагнал авна. Уралдаан маань ямар нэгэн төлбөр, хураамжгүй байгаа. Дээрх шагналуудыг спонсорлох дээр нь нэмэх сонирхолтой хүмүүс байвал нэмж болно.<br>

ТА БҮХНИЙГ ФАНТАЗИ МНФОРМУЛА1-т идэвхитэй оролцохыг урьж байна.<br>
